{% include "base.html" %}


{% block content %} 
<section id="main-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'about' %}"> go to about page</a>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>abc</h4>
                            </div>
                            <div class="data">
                                <p>loren9</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>abc</h4>
                            </div>
                            <div class="data">
                                <p>loren9</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>abc</h4>
                            </div>
                            <div class="data">
                                <p>loren9</p>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %} 
